/**
 * Toolbar sass file
 */

.demo-toolbar {
  border-bottom: 1px solid #d8d9da;
  background-color: #f3f4f5;
  color: #4f5964;

  display: flex;
  padding: 0.5em;

  align-items: center;

  .spacer {
    flex: 1;
  }

  &.align-right {
    justify-content: flex-end;
  }

  &.align-justify {
    justify-content: space-between;
  }

  > *:not(:first-child) {
    margin-left: 0.6em;
  }
}

.b-theme-stockholm .demo-toolbar {
  background-color: #f3f4f5;
  color: #4f5964;
  border-bottom: 1px solid #d8d9da;
}
